.window[data-window="browser"] {
    & h4 {
        margin: 0;
    }
} 

.browser-window__list {
    background: #0003;
    overflow: hidden;
    border-radius: 0.25em;
    border: 1px solid #555;
    flex: 0 3 100%;
    width: 100%;
}

.browser-window__details {
    background: #0003;
    overflow: hidden;
    border-radius: 0.25em;
    border: 1px solid #555;
    flex: 0 2 100%;
    width: 100%;
}