.form-holder {
    & > .form-prop {
        margin-bottom: 0.3em;
    }
}

.form-prop {
    display: flex;
    align-items: baseline;
    gap: 0.6em;

    & > :first-child {
        text-align: end;
        flex: 0 0 30%;
    }

    & > :last-child {
        display: flex;
        flex-flow: row wrap;
        gap: 0.3em;
    }
}

.form-select, .form-button {
    display: flex;
    align-items: baseline;
    border: 1px solid #555;
    border-radius: 6px;
    padding: 1px;

    & > button {
        margin-inline-end: -1px;
        z-index: 1;

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            margin-inline-end: 0;
        }

        &[aria-selected="true"] {
            border-color: transparent;
            background: #0007;
            
            font-weight: bold;
            z-index: 0;
        }
    }
}

.form-number, .form-field {
    display: flex;
    position: relative;
    align-items: stretch;
    border: 1px solid #555;
    border-radius: 6px;
    padding: 1px;

    & > input {
        border: transparent;
        background: #0007;
        border-radius: 4px;
        width: 12ch;
        color: white;
        font-weight: bold;
    }

    & > span {
        display: flex;
        align-items: center;
        height: calc(100% - 2px);
        position: absolute;
        right: 0.5em;
        pointer-events: none;
        user-select: none;
        opacity: 0.5;
    }
}

.form-toggle-field {
    display: flex;
    align-items: baseline;
    border: 1px solid #555;
    border-radius: 6px;
    padding: 1px;

    & > .form-toggle button {
        margin-inline-end: -1px;
        z-index: 1;
    }
    & > :first-child button {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    & > :last-child button {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-inline-end: 0;
    }
}

.form-toggle {
    & button {
        &[aria-checked="true"] {
            background: #8f84;
            vertical-align: -1px;
            margin-bottom: -1px;
        }
    }
}







.hierarchy-holder {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    & > button {
        transform: none;
        border: none;
        background: transparent;
        padding: 0.5em 0.75em;
        text-align: start;

        &:hover {
            background: #fff2;
            vertical-align: 0;
            margin-bottom: 0;
        }
        &:active {
            background: #fff4;
        }

        &[aria-selected="true"] {
            background: #335;
        }
    }

    & > button > iconify-icon {
        font-size: 16px;
        height: 1em;
        width: 1em;
        vertical-align: -0.125em;
        margin-inline-end: 0.25em;
    }
}